body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.inner-page > main{
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-top,
.services,
.description,
.footer-top,
.footer-bottom {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header,
.services,
.description,
.breadcrumbs + h2 {
  background-color: #f3f7f9;
  background-image: url(../img/bg-texture.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.popular-products-title,
.popular-brands-title {
  background-color: #f9f5f0;
}

.aside-filter h3,
.sort {
  margin: 0;
  padding: 0;
  background-color: #f7f3ec;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 59px;
}

.inner-page .main-header {
  margin-bottom: 22px;
}

.header-top {
  margin-bottom: 46px;

  background-color: #293449;
}

.header-top-wrapper {
  display: flex;
}

.header-logo {
  max-width: 220px;
  margin: 0;
  padding: 10px 55px 8px 56px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;

  background-color: #ee3643;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.search-form {
  position: relative;
  width: 270px;
  margin: 0;
  padding: 0;

  background-color: #293449;
}

.search-button {
  position: absolute;
  margin: 0;
  padding: 0;

  top: 11px;
  left: 15px;

  background-color: #293449;
  border: none;
  outline: none;
}

.search-button::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 2px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.input-search:hover + .search-button::before {
  opacity: 1;
}

.input-search:focus + .search-button::before {
  fill: red;
  opacity: 1;
  background-image: url(../img/icon-search-red.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.input-search {
  margin: 0;
  padding: 12px 65px;
  padding-left: 48px;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
  border: none;
  outline: none;
}

.input-search::placeholder {
  color: #ffffff;
}

.input-search:hover {
  background-color: #212a3a;
}

.input-search:focus {
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.site-navigation-tools {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.site-navigation-tools:hover,
.site-navigation-tools:focus {
  background-color: #212a3a;
}

.site-navigation-tools:active {
  background-color: #161d29;
  opacity: 0.6;
}

.bookmarks {
  position: relative;
  width: 100%;
  max-width: 106px;
  padding: 12px 0 12px 44px;
}

.bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before {
  opacity: 1;
}

.basket {
  position: relative;
  width: 100%;
  max-width: 100px;
  padding: 12px 0 12px 49px;
}

.inner-page .basket {
  background-color: #ee3643;
}

.basket::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket:hover::before,
.basket:focus::before {
  opacity: 1;
}

.checkout {
  width: 100%;
  max-width: 129px;
  padding: 12px 0 12px 21px;
  background-color: #63a63e;
}

.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.header-description {
  width: 300px;
  margin: 0;
  margin-left: 0;
  padding: 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-description p {
  margin: 0;
  padding: 3px 50px 0 53px;
}

.header-contacts {
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.contact-phone {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 9px 49px 8px 71px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.contact-phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 13px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact-address {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: 5px 10px;
}

.user-navigation {
  width: 300px;
  margin: 0;
  margin-right: 0;
  padding: 0;
}

.user-navigation-logoff,
.user-navigation-authorized {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.login {
  position: relative;
  margin: 0;
  padding: 12px 26px;
  padding-left: 47px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 15px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.login:hover::before,
.login:focus::before {
  opacity: 1;
}

.registration {
  margin-left: 10px;
  padding: 12px 24px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login:hover,
.registration:hover,
.login:focus,
.registration:focus {
  color: #ee3643;
}

.login:active,
.registration:active {
  color: rgba(0,0,0,0.3);
}

.user-name {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 12px 46px 12px 48px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-name:active {
  opacity: 0.3;
}

.user-name::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 14px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-name:hover::before,
.user-name:focus::before {
  opacity: 1;
}

.logout {
  position: absolute;
  top: 14px;
  right: 16px;

  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.logout::after {
  content: "";

  position: absolute;
  left: -15px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.logout:hover::after,
.logout:focus::after {
  opacity: 1;
}

.user-navigation-orders,
.user-navigation-personal-area {
  margin: 8px 16px 7px 16px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation-personal-area {
  position: relative;
  margin-right: 72px;
}

.user-navigation-personal-area::before {
  content: "";

  position: absolute;
  width: 0;
  height: 0;

  top: 7px;
  left: -17px;

  border: 2px solid #32425c;
  border-radius: 2px;
}

.user-navigation-orders:hover,
.user-navigation-personal-area:hover,
.user-navigation-orders:focus,
.user-navigation-personal-area:focus {
  color: #ee3643;
  text-decoration: underline;
}

.user-navigation-orders:active,
.user-navigation-personal-area:active {
  color: rgba(50,66,92,0.3);
  text-decoration: underline;
}

.header-bottom {
  padding-bottom: 60px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  display: inline-block;
  margin: 0;
  padding: 20px 31px 18px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

li:first-child .navigation-item  {
  padding-left: 52px;
}

li:last-child .navigation-item  {
  padding-right: 48px;
}

.navigation-item:hover,
.navigation-item:focus {
  background-color: #293449;
}

.navigation-item:active {
  color: #59616e;
  background-color: #1d2739;
  border-bottom: 5px solid #1d2739;
}

/* ХЛЕБНЫЕ КРОШКИ */
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;


  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-left: 40px;
}

.breadcrumbs-home a {
  margin: 0;
  padding: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 2px;
  left: -25px;

  width: 9px;
  height: 9px;

  border-top: 1px solid #e3e5e9;
  border-right: 1px solid #e3e5e9;
  transform: rotate(45deg);
}

.breadcrumbs-home::after {
  display: none;
}

.breadcrumbs-home::before {
  content: "";

  position: absolute;
  top: 1px;
  right: -8px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs + h2 {
  margin: 0;
  margin-bottom: 19px;
  padding: 30px 28px;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
}

/* ПРЕДЛОЖЕНИЯ */
.main-offers {
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
}

.offer-row-top,
.offer-row-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.column-right {
  display: flex;
  flex-direction: column;
  order: 2;
}

.column-right div:first-child {
  margin-bottom: 20px;
}

.offer .flag {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.offer .flag-new {
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
}

.offer-row-top > div,
.column-right > div  {
  max-width: 165px;
  width: 100%;
  margin: 0;
  padding: 21px 112px 22px 23px;
}

.main-offers h3{
  display: inline-block;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.offer-row-top a,
.column-right a {
  display: inline-block;
  max-width: 135px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
}

.offer-row-top a:hover,
.offer-row-top a:focus,
.column-right a:hover,
.column-right a:focus {
  background-color: rgba(0,0,0,0.2);
}

.offer-row-top a:active,
.column-right a:active {
  background-color: rgba(0,0,0,0.3);
}

.offer-materials {
  position: relative;
  background-color: #ffbf47;
}

.offer-materials::after {
  content: "";

  position: absolute;
  top: 18px;
  right: 20px;

  width: 90px;
  height: 90px;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.offer-tools {
  position: relative;
  background-color: #3bbce3;
}

.offer-tools::after {
  content: "";

  position: absolute;
  top: 18px;
  right: 20px;

  width: 90px;
  height: 90px;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.offer-technics {
  position: relative;
  background-color: #dc91d8;
}

.offer-technics::after {
  content: "";

  position: absolute;
  top: 18px;
  right: 20px;

  width: 90px;
  height: 90px;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.offer-discounts {
  position: relative;
  background-color: #8ed78f;
}

.offer-discounts::after {
  content: "";

  position: absolute;
  top: 18px;
  right: 20px;

  width: 90px;
  height: 90px;

  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.offer-delivery {
  position: relative;
  background-color: #ffc047;
}

.offer-delivery::after {
  content: "";

  position: absolute;
  top: 18px;
  right: 20px;

  width: 90px;
  height: 90px;

  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* СЛАЙДЕР */
.offer-slider {
  position: relative;
  width: 595px;
  height: 220px;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(2) {
  display: block;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}


.slider-controls {
  position: absolute;
  left: 310px;
  bottom: -12px;
  z-index: 100;

  width: 160px;
  height: 14px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  display: inline-block;
  margin: 0 5px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;

  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .active {
  background-color: #ee3643;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 24px 0 22px 25px;
  overflow: hidden;

  background-color: #f2f6f8;
}

.slider-item .slider-text {
  display: block;
  width: 275px;
  margin: 0;
  padding: 0;
}

.slider-text .slider-title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.slider-text p {
  min-height: 48px;
  margin: 0;
  margin-bottom: 98px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.offer-slider .previous {
  display: inline-block;
  position: absolute;
  top: 119px;
  left: 31px;
  z-index: 100;

  width: 27px;
  height: 27px;

  border-top: 3px solid rgba(250, 250, 250, 0.7);
  border-right: 3px solid rgba(250, 250, 250, 0.7);
  border-radius: 3px;
  transform: rotate(-135deg);
  cursor: pointer;
}

.offer-slider .next {
  display: inline-block;
  position: absolute;
  top: 119px;
  right: 1px;
  z-index: 100;

  width: 27px;
  height: 27px;

  border-top: 3px solid rgba(250, 250, 250, 0.7);
  border-right: 3px solid rgba(250, 250, 250, 0.7);
  border-radius: 3px;
  transform: rotate(45deg);
  cursor: pointer;
}

.offer-slider .previous:hover,
.offer-slider .next:hover,
.offer-slider .previous:focus,
.offer-slider .next:focus {
  border-top: 3px solid rgba(250, 250, 250, 1);
  border-right: 3px solid rgba(250, 250, 250, 1);
}

.slider-button.button {
  max-width: 195px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.slider-item:nth-child(1) {
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slider-2.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button {
  font: inherit;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* ПОПУЛЯРНЫЕ ТОВАРЫ */
.popular-products-title,
.popular-brands-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 25px 24px;
}

.popular-products-title h2,
.popular-brands-title h2 {
  margin: 0;
  padding: 4px 4px;
  font-weight: 400;
}

.popular-products-title .button,
.popular-brands-title .button {
  max-width: 253px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.popular-products-list,
.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.popular-products h2,
.popular-brands h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.catalog-product {
  position: relative;
  max-width: 218px;
  width: 100%;
  min-height: 318px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #eaeaea;
}

.catalog-product:hover,
.catalog-product:focus {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.catalog.product-image {
  width: 218px;
  height: 148px;
  font-size: 13px;
  line-height: 24px;
}

.catalog-product .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-product .flag-new {
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
}

.catalog-product .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 138px;
  height: 88px;
  padding: 40px 40px 20px 40px;
  z-index: 10;

  background-color: rgba(255, 255, 255, 0.9);
}

.catalog-product .actions {
  display: none;
}

.catalog-product:hover .actions {
  display: block;
}

.buy {
  display: inline-block;
  position: relative;
  max-width: 90px;
  width: 100%;
  margin: 3px 0;
  padding: 9px 21px 8px 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
  border-bottom: 3px solid #377416;
  border-radius: 3px;
}

.buy::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
  border-bottom: 3px solid #367315;
}

.buy:active {
  background-color: #518534;
  border-bottom: 3px solid #518534;
}

.in-bookmarks {
  display: inline-block;
  max-width: 90px;
  width: 100%;
  margin: 5px 0;
  padding: 8px 16px 6px 23px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;

  border: 3px solid #63a63e;
  border-radius: 3px;
}

.in-bookmarks:hover,
.in-bookmarks:focus {
  color: #32425c;

  border: 3px solid #32425c;
}

.in-bookmarks:active {
  color: #32425c;

  border: 3px solid #32425c;
  opacity: 0.3;
}

.catalog-product-title {
  min-height: 40px;
  margin: 0;
  margin-top: 25px;
  padding: 0 25px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.catalog-product-discount {
  display: inline-block;
  max-width: 140px;
  min-height: 18px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-product-price {
  display: inline-block;
  position: relative;
  max-width: 140px;
  min-height: 18px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-product-price::after {
  content: "";

  position: absolute;
  top: 0px;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid #ffffff;
  border-left-color: transparent;
}

/* ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ */
.popular-brands {
  margin-bottom: 65px;
}

.popular-brands-list a {
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.popular-brands-list a:hover,
.popular-brands-list a:focus {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.popular-brands-list a:active {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  opacity: 0.3;
}

/* ФИЛЬТР */
.filter-item {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  border: none;
  border-bottom: 1px solid #f6f6f6;
}

.filter-item legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-range {
  width: 220px;
  margin-top: 13px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding: 39px 20px 0 20px;

  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;

  background-color: #e2e4e3;
}

.range-controls .bar {
  width: 85%;
  height: 2px;

  background-color: #52d89c;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #b4b4b4;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #eae8e5;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  font-size: 0;
}

.price-controls::before {
  content: "";

  top: 20px;
  right: 105px;

  position: absolute;
  width: 10px;
  height: 1px;

  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 17px;
  text-transform: uppercase;
}

.price-controls input {
  width: 75px;
  padding: 10px 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  color: #000000;

  background-color: #f7f3ec;
  border: none;
}

.max-price input {
  margin-left: 15px;
}

/* КАТАЛОГ */
.inner-page-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.inner-page-wrapper h3 {
  font-size: 13px;
  line-height: 18px;
}

/* fieldset.filter-item {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0;
  padding: 25px 0;
}

fieldset.filter-item:first-child {
  padding-top: 0;
} */

.catalog-wrapper {
  width: 700px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.aside-filter h3 {
  padding: 10px 18px;
  margin-bottom: 12px;
}

.sort h3 {
  width: 180px;
  margin: 0;
  padding: 10px 20px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0;
  padding: 0;
}

.brands,
.power-supply {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 22px;
}

.filter-option:last-child {
  margin-bottom: 0px;
}

.filter-option:disabled {
  opacity: 0.4;
}

.sort-item,
.sort-button {
  opacity: 0.3;
}

.sort-item {
  padding: 9px 18px;
  text-decoration: underline dotted red;
}

.sort-button {
  position: relative;
  margin-right: 3px;
  padding: 9px 10px;
  border: none;
  outline: none;
}

.up-dir::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 5px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.down-dir::before {
  content: "";

  position: absolute;
  bottom: 14px;
  right: 5px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(180deg);
}

.sort-item:hover,
.sort-item:focus {
  opacity: 1;
  text-decoration: underline red;
}

.sort-button:hover,
.sort-button:focus {
  opacity: 1;
}

.sort-item:active,
.sort-button:active {
  opacity: 1;
  color: red;
  text-decoration: none;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item a {
  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.description {
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}

.description .container h2 {
  margin: 0;
  padding-top: 65px;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}

.description .container p {
  margin: 0;
  padding-bottom: 65px;
  font-size: 13px;
  line-height: 24px;
}

/* СЕРВИСЫ */
.services {
  margin-bottom: 80px;
}

.services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-info {
  width: 940px;
}

.services-info h2 {
  color: #000000;
}

.services-list {
  width: 240px;
}

.services-list ul {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  list-style: none;

  background-color: #32425c;
}

.services-delivery-info,
.services-guarantee-info,
.services-credit-info {
  width: 630px;
}

.services-delivery-info h3,
.services-guarantee-info h3,
.services-credit-info h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

/* ИНФО */
.information {
  display: flex;
  justify-content: space-between;
}

.information-about-us {
  width: 540px;
}

.information-contacts {
  width: 300px;
}

.information h3 {
  font-size: 30px;
  line-height: 30px;
}

.transport-companies {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

/* Подвал */
.footer-top {
  background-color: #32425c;
  margin-top: 80px;
  padding-bottom: 50px;
}

.inner-page .footer-top {
  margin: 0;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
}

.footer-top-wrapper {
  width: 380px;
}

.footer-logo {
  display: inline-block;
  width: 220px;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;

  background-color: #ee3643;
  border-bottom: 5px solid #b72f38;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-navigation ul {
  list-style: none;
}

.footer-navigation {
  width: 550px;
}

.footer-navigation-top ul,
.footer-navigation-bottom ul {
  display: flex;
  justify-content: space-between;
}

.footer-navigation-bottom {
  margin-left: 25px;
}

.footer-navigation-item {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-navigation-item:hover,
.footer-navigation-item:focus {
  text-decoration: underline;
}

.footer-navigation-item:active {
  opacity: 0.5;
}

.text-color {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom ul {
  list-style: none;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright-technomart {
  width: 300px;
}

.footer-social {
  display: flex;
  justify-content: center;
  width: 300px;
}

.social-button {
  color: #ffffff;
}

.footer-copyright-htmlacademy {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.footer-copyright-htmlacademy span:hover,
.footer-copyright-htmlacademy span:focus {
  text-decoration: underline;
}

.footer-copyright-htmlacademy span:active {
  color: #ee3643;
  text-decoration: none;
}

/* МОДАЛЬНЫЕ ОКНА */
.modal {
  font-size: 18px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.modal-write-us {

  border-top: 7px solid #ff5357;
}

.input-modal {
  font-size: 13px;
  line-height: 18px;
}
