body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.different-font {
  font-family: "PT Sans", Arial, sans-serif;
}

.different-font .actions {
  font-family: "Cuprum", Arial, sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* КНОПКИ */

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.inner-page .button {
  font-size: 13px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  outline: none;
}

.inner-page .button:hover,
.inner-page .button:focus {
  border-color: #bdc6ca;
}

.inner-page .button:active {
  border-color: #ee3643;
}

.header-top,
.services,
.description,
.footer-top,
.footer-bottom {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header,
.services,
.background-wrapper,
.breadcrumbs + h2,
.modal-button-background {
  background-color: #f3f7f9;
  background-image: url(../img/bg-texture.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.popular-products-title,
.popular-brands-title {
  background-color: #f9f5f0;
}

.aside-filter h3,
.sort {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;

  background-color: #f7f3ec;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 59px;
}

.inner-page.main-header {
  margin-bottom: 18px;
}

.header-top {
  margin-bottom: 46px;

  background-color: #293449;
}

.header-top-wrapper {
  display: flex;
}

.header-logo {
  max-width: 220px;
  width: 100%;
  margin: 0;
  padding: 10px 0 8px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;

  background-color: #ee3643;
  box-shadow: 0px 5px 1px 0px #b52933;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.search-form {
  position: relative;
  width: 270px;
  margin: 0;
  padding: 0;

  background-color: #293449;
}

.search-button {
  position: absolute;
  top: 12px;
  left: 17px;

  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
}

.search-button {
  opacity: 0.3;
}

.input-search:hover + .search-button {
  opacity: 1;
}

.input-search:focus + .search-button path {
  fill: #b52933;
}

.input-search {
  margin: 0;
  padding: 12px 65px;
  padding-left: 48px;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
  border: none;
  outline: none;
}

.input-search::placeholder {
  color: #ffffff;
}

.input-search:hover {
  background-color: #212a3a;
}

.input-search:focus {
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.site-navigation-tools {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.site-navigation-tools:hover,
.site-navigation-tools:focus {
  background-color: #212a3a;
}

.site-navigation-tools:active {
  background-color: #161d29;
  opacity: 0.6;
}

.bookmarks {
  position: relative;
  width: 100%;
  max-width: 106px;
  padding: 12px 0 12px 44px;
}

.bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before {
  opacity: 1;
}

.basket {
  position: relative;
  width: 100%;
  max-width: 100px;
  padding: 12px 0 12px 49px;
}

.inner-page .basket {
  background-color: #ee3643;
}

.basket::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket:hover::before,
.basket:focus::before {
  opacity: 1;
}

.checkout {
  width: 100%;
  max-width: 129px;
  padding: 12px 0 12px 21px;

  background-color: #63a63e;
}

.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.header-description {
  width: 300px;
  margin: 0;
  margin-left: 0;
  padding: 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-description p {
  margin: 0;
  padding: 3px 50px 0 53px;
}

.header-contacts {
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.contact-phone {
  position: relative;

  display: inline-block;
  margin: 0;
  padding: 9px 49px 8px 71px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.contact-phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 13px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact-address {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: 5px 10px;
}

.user-navigation {
  width: 300px;
  margin: 0;
  margin-right: 0;
  padding: 0;
}

.user-navigation .user-navigation-logoff,
.user-navigation .user-navigation-authorized {
  display: none;
}

.user-navigation .user-navigation-logoff.active,
.user-navigation .user-navigation-authorized.active {
  display: flex;
}

.user-navigation-logoff,
.user-navigation-authorized {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.login {
  position: relative;

  margin: 0;
  padding: 12px 26px;
  padding-left: 47px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 15px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.login:hover::before,
.login:focus::before {
  opacity: 1;
}

.registration {
  margin-left: 10px;
  padding: 12px 24px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login:hover,
.registration:hover,
.login:focus,
.registration:focus {
  color: #ee3643;
}

.login:active,
.registration:active {
  color: rgba(0,0,0,0.3);
}

.user-name {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 12px 46px 12px 48px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-name:active {
  opacity: 0.3;
}

.user-name::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 14px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-name:hover::before,
.user-name:focus::before {
  opacity: 1;
}

.logout {
  position: absolute;
  top: 14px;
  right: 16px;

  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.logout::after {
  content: "";

  position: absolute;
  top: 0;
  left: -15px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.logout:hover::after,
.logout:focus::after {
  opacity: 1;
}

.user-navigation-orders,
.user-navigation-personal-area {
  margin: 8px 16px 7px 16px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.user-navigation-personal-area {
  position: relative;

  margin-right: 72px;
}

.user-navigation-personal-area::before {
  content: "";

  position: absolute;
  width: 0;
  height: 0;

  top: 7px;
  left: -17px;

  border: 2px solid #32425c;
  border-radius: 2px;
}

.user-navigation-orders:hover,
.user-navigation-personal-area:hover,
.user-navigation-orders:focus,
.user-navigation-personal-area:focus {
  text-decoration: underline;
  color: #ee3643;
}

.user-navigation-orders:active,
.user-navigation-personal-area:active {
  text-decoration: underline;
  color: rgba(50,66,92,0.3);
}

.header-bottom {
  padding-bottom: 60px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  display: inline-block;
  margin: 0;
  padding: 20px 31px 18px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

li:first-child .navigation-item  {
  padding-left: 52px;
}

li:last-child .navigation-item  {
  padding-right: 48px;
}

.navigation-item:hover,
.navigation-item:focus {
  background-color: #293449;
}

.navigation-item:active {
  color: #59616e;

  background-color: #1d2739;
  border-bottom: 5px solid #1d2739;
}

/* ПРЕДЛОЖЕНИЯ */
.main-offers {
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
}

.offer-row-top,
.offer-row-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.column-right {
  display: flex;
  flex-direction: column;

  order: 2;
}

.column-right div:first-child {
  margin-bottom: 20px;
}

.offer .flag {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
}

.offer .flag-new {
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
}

.offer-row-top > div,
.column-right > div  {
  max-width: 165px;
  width: 100%;
  margin: 0;
  padding: 21px 112px 22px 23px;
}

.main-offers h3{
  display: inline-block;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.offer-row-top a,
.column-right a {
  display: inline-block;
  max-width: 135px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
}

.offer-row-top a:hover,
.offer-row-top a:focus,
.column-right a:hover,
.column-right a:focus {
  background-color: rgba(0,0,0,0.2);
}

.offer-row-top a:active,
.column-right a:active {
  background-color: rgba(0,0,0,0.3);
}

.offer-materials {
  position: relative;

  background-color: #ffbf47;
}

.offer-materials::after {
  content: "";

  position: absolute;
  top: 18px;
  right: 20px;

  width: 90px;
  height: 90px;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.offer-tools {
  position: relative;
  background-color: #3bbce3;
}

.offer-tools::after {
  content: "";

  position: absolute;
  top: 18px;
  right: 20px;

  width: 90px;
  height: 90px;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.offer-technics {
  position: relative;

  background-color: #dc91d8;
}

.offer-technics::after {
  content: "";

  position: absolute;
  top: 18px;
  right: 20px;

  width: 90px;
  height: 90px;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.offer-discounts {
  position: relative;
  background-color: #8ed78f;
}

.offer-discounts::after {
  content: "";

  position: absolute;
  top: 18px;
  right: 20px;

  width: 90px;
  height: 90px;

  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.offer-delivery {
  position: relative;

  background-color: #ffc047;
}

.offer-delivery::after {
  content: "";

  position: absolute;
  top: 18px;
  right: 20px;

  width: 90px;
  height: 90px;

  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* СЛАЙДЕР */
.offer-slider {
  position: relative;

  width: 595px;
  height: 220px;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(2) {
  display: block;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.slider-controls {
  position: absolute;
  left: 310px;
  bottom: -12px;
  z-index: 100;

  width: 160px;
  height: 14px;
  text-align: center;
  font-size: 0;

  transform: translateX(-50%);
}

.slider-controls i {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .active {
  background-color: #ee3643;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 24px 0 22px 25px;
  overflow: hidden;

  background-color: #32425c;
}

.slider-item .slider-text {
  display: block;
  width: 275px;
  margin: 0;
  padding: 0;
}

.slider-text .slider-title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.slider-text p {
  min-height: 48px;
  margin: 0;
  margin-bottom: 98px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.offer-slider .previous {
  position: absolute;
  top: 119px;
  left: 31px;
  z-index: 100;

  display: inline-block;
  width: 27px;
  height: 27px;

  border-top: 3px solid rgba(250, 250, 250, 0.7);
  border-right: 3px solid rgba(250, 250, 250, 0.7);
  border-radius: 3px;
  cursor: pointer;
  transform: rotate(-135deg);
}

.offer-slider .next {
  position: absolute;
  top: 119px;
  right: 1px;
  z-index: 100;

  display: inline-block;
  width: 27px;
  height: 27px;

  border-top: 3px solid rgba(250, 250, 250, 0.7);
  border-right: 3px solid rgba(250, 250, 250, 0.7);
  border-radius: 3px;
  cursor: pointer;
  transform: rotate(45deg);
}

.offer-slider .previous:hover,
.offer-slider .next:hover,
.offer-slider .previous:focus,
.offer-slider .next:focus {
  border-top: 3px solid rgba(250, 250, 250, 1);
  border-right: 3px solid rgba(250, 250, 250, 1);
}

.slider-button.button {
  max-width: 195px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.slider-item:nth-child(1) {
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slider-2.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* ПОПУЛЯРНЫЕ ТОВАРЫ */
.popular-products-title,
.popular-brands-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 25px 24px;
}

.popular-products-title h2,
.popular-brands-title h2 {
  margin: 4px 4px;
  padding: 0;
  font-weight: 400;
}

.popular-products-title .button,
.popular-brands-title .button {
  max-width: 253px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.popular-products-list,
.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-products h2,
.popular-brands h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.catalog-product {
  position: relative;

  max-width: 218px;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  vertical-align: top;

  overflow: hidden;
  border: 1px solid #eaeaea;
}

.catalog-product:hover,
.catalog-product:focus {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.catalog.product-image {
  width: 218px;
  height: 148px;
  font-size: 13px;
  line-height: 24px;
}

.catalog-product .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;

  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
}

.catalog-product .flag-new {
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
}

.catalog-product .actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 138px;
  height: 88px;
  padding: 40px 40px 20px 40px;

  background-color: rgba(255, 255, 255, 1);
}

.catalog-product .actions {
  display: none;
}

.catalog-product:hover .actions {
  display: block;
}

.buy {
  position: relative;

  display: inline-block;
  max-width: 90px;
  width: 100%;
  margin: 3px 0;
  padding: 9px 21px 8px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
  border-bottom: 3px solid #377416;
  border-radius: 3px;
}

.buy::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
  border-bottom: 3px solid #367315;
}

.buy:active {
  background-color: #518534;
  border-bottom: 3px solid #518534;
}

.in-bookmarks {
  display: inline-block;
  max-width: 90px;
  width: 100%;
  margin: 5px 0;
  padding: 8px 16px 6px 23px;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;

  border: 3px solid #63a63e;
  border-radius: 3px;
}

.in-bookmarks:hover,
.in-bookmarks:focus {
  color: #32425c;

  border: 3px solid #32425c;
}

.in-bookmarks:active {
  color: #32425c;

  border: 3px solid #32425c;
  opacity: 0.3;
}

.catalog-product-image {
  width: 218px;
  height: 148px;
}

.catalog-product-title {
  min-height: 40px;
  margin: 32px 0 11px;
  padding: 0 25px;
  font-size: 18px;
  line-height: 20px;
}

.catalog-product-discount {
  display: block;
  max-width: 140px;
  min-height: 18px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-product-price {
  display: block;
  position: relative;
  max-width: 140px;
  min-height: 18px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-product-price::after {
  content: "";

  position: absolute;
  top: 0px;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid #ffffff;
  border-left-color: transparent;
}

/* ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ */
.popular-brands {
  margin-bottom: 65px;
}

.popular-brands-item {
  position: relative;
  margin-bottom: 20px;
  width: 220px;
  min-height: 145px;

  border: 1px solid #eaeaea;
}

.popular-brands-item:hover,
.popular-brands-item:focus {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.popular-brands-item:active {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  opacity: 0.3;
}

.popular-brands-item img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

/* ХЛЕБНЫЕ КРОШКИ */
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 20px;
  padding-right: 23px;
}

.breadcrumbs a {
  margin: 0;
  padding: 0;
  text-align: 13px;
  line-height: 18px;
  color: #000000;
}

li.breadcrumbs-home {
  padding-right: 35px;
}

.breadcrumbs-home a::before {
  content: "";

  position: absolute;
  top: 5px;
  right: 17px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 7px;
  right: 1px;

  width: 8px;
  height: 8px;

  border-top: 1px solid #c5c9d1;
  border-right: 1px solid #c5c9d1;
  transform: rotate(45deg);
}

.breadcrumbs li:last-child::after {
  display: none;
}

.inner-page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 28px 29px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
}

/* ФИЛЬТР */
.aside-filter h3 {
  padding: 10px 18px;
  margin-bottom: 10px;
}

.filter-item {
  margin: 0;
  padding: 0;

  border-bottom: 1px solid #f6f6f6;
  border: none;
}

.filter-item.price {
  margin-bottom: 15px;
  padding-bottom: 25px;
}

.filter-item legend {
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-range {
  width: 220px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 9px;
  padding: 39px 20px 0 20px;

  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;

  background-color: #e2e4e3;
}

.range-controls .bar {
  width: 85%;
  height: 2px;

  background-color: #52d89c;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #b4b4b4;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #eae8e5;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;

  font-size: 0;
}

.price-controls::before {
  content: "";

  position: absolute;
  top: 20px;
  right: 105px;

  width: 10px;
  height: 1px;

  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 17px;
  text-transform: uppercase;
}

.price-controls input {
  width: 75px;
  padding: 10px 10px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  background-color: #f7f3ec;
  border: none;
}

.max-price input {
  margin-left: 15px;
}

.brands,
.power-supply {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.filter-item.brand {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option:last-child {
  margin-bottom: 0px;
}

.filter-option label {
  position: relative;

  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -35px;

  width: 19px;
  height: 19px;

  border: 2px solid #000000;
  border-radius: 2px;
  opacity: 0.5;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -4px;
  left: -24px;

  width: 6px;
  height: 16px;

  border-bottom: 4px solid #8a8a8a;
  border-right: 4px solid #8a8a8a;
  box-shadow: 3px -3px 3px 0 #ffffff;
  opacity: 1;
  transform: rotate(45deg);
}

.filter-item.power {
  border: none;
  margin-bottom: 75px;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -35px;

  width: 16px;
  height: 16px;

  border: 4px solid #000000;
  border-radius: 50%;
  opacity: 0.5;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 6px;
  left: -27px;

  width: 0;
  height: 0;

  border: 4px solid #000000;
  border-radius: 50%;
  opacity: 0.5;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.filter-button {
  max-width: 140px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sort h3 {
  width: 180px;
  margin: 0;
  padding: 10px 20px;
  font-size: 13px;
  line-height: 18px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0;
  padding: 0;
}

.sort-item,
.sort-button {
  opacity: 0.3;
}

.sort-item {
  padding: 9px 18px;
  text-decoration: underline dotted red;
}

.sort-button {
  position: relative;
  margin-right: 3px;
  padding: 9px 10px;
  border: none;
  outline: none;
}

.up-dir::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 5px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.down-dir::before {
  content: "";

  position: absolute;
  bottom: 14px;
  right: 5px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(180deg);
}

.sort-item:hover,
.sort-item:focus {
  text-decoration: underline red;
  opacity: 1;
}

.sort-button:hover,
.sort-button:focus {
  opacity: 1;
}

.sort-item:active,
.sort-button:active {
  text-decoration: none;
  color: red;
  opacity: 1;
}

/* КАТАЛОГ */
.inner-page-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-wrapper {
  width: 700px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.pagination-button {
  margin: 0;
  margin-right: 10px;
  padding: 10px 15px;
}

.pagination-button.previous,
.pagination-button.next {
  padding: 10px 30px;
}

.pagination-button.previous.disabled ,
.pagination-button.next.disabled {
  display: none;
}

.pagination-button.current {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.background-wrapper {
  margin-top: 57px;
  padding: 63px 0 68px;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}

.description-title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.description-text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}

/* СЕРВИСЫ */
.services {
  margin-bottom: 80px;
}

.services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 65px;
}

.services-title {
  width: 940px;
  margin-bottom: 70px;
}

.services-title h2 {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.services-title p {
  margin: 0;
  padding: 0;
}

.services-list {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.services-button {
  position: relative;

  margin: 0;
  padding: 0;
  width: 240px;
  list-style: none;
}

.services-button li {
  margin: 0;
  padding: 13px 0 17px 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 1px solid #4d627b;
  cursor: pointer;
}

.services-button li:last-child {
  border: none;
}

.services-button  .current {
  color: #32425c;

  background-color: #ffffff;
}

.services-button li:hover,
.services-button li:focus {
  color: #ffffff;

  background-color: #293449;
}

.services-button li:active {
  color: #32425c;

  background-color: #ffffff;
}

.services-button::after {
  content: "";

  position: absolute;
  top: -45px;
  right: 0;
  z-index: 100;

  width: 10px;
  height: 280px;

  background-image: url(../img/icon-line.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-descriptions {
  position: relative;
  width: 620px;
  min-height: 285px;
}

.services-info {
  display: none;
}

.services-info.current {
  display: block;
}

.services-info h3 {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services-info p {
  margin: 0;
  padding: 0;
}

.delivery {
  padding-bottom: 130px;

  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: 151px 23px;
}

.guarantee {
  padding-bottom: 105px;

  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position: 240px 5px;
}

.credit {
  padding-bottom: 105px;

  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: 155px 0px;
}

.credit p {
  margin-bottom: 30px;
}

.services-credit-button {
  display: inline-block;
  max-width: 195px;
  width: 100%;
  margin: 0;
  padding: 12px 0;
}

/* ИНФО */
.information {
  display: flex;
  justify-content: space-between;
}

.information-about-us {
  width: 540px;
}

.information h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
}

.information-about-us p {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
}

.transport-companies {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.transport-companies li {
  position: relative;

  margin: 0 0 20px 35px;
}

.transport-companies li::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -35px;

  width: 23px;
  height: 0;
  color: #ee3643;

  border: 1px solid #ee3643;
}

.more-about-us {
  max-width: 220px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.information-contacts {
  width: 300px;
}

.information-contacts p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.mini-map {
  display: inline-block;
  width: 300px;
  height: 158px;
  margin-bottom: 40px;
}

.write-us {
  max-width: 300px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

/* Подвал */
.footer-top {
  margin-top: 85px;
  padding-bottom: 50px;

  background-color: #32425c;
}

.inner-page .footer-top {
  margin: 0;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
}

.footer-top-wrapper {
  width: 380px;
}

.footer-logo {
  display: inline-block;
  max-width: 220px;
  width: 100%;
  margin: 0;
  margin-bottom: 28px;
  padding: 18px 0 15px 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  border-bottom: 5px solid #b72f38;
}

.footer-contacts {
  margin: 0;
  margin-left: 3px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-navigation {
  width: 550px;
  padding-top: 38px;
}

.footer-navigation-top,
.footer-navigation-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation-top {
  margin-bottom: 33px;
}

.footer-navigation-bottom {
  margin-left: 25px;
}

.footer-navigation-item {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-navigation-item:hover,
.footer-navigation-item:focus {
  text-decoration: underline;
}

.footer-navigation-item:active {
  opacity: 0.5;
}

.text-color {
  color: #ffd180;
}

.footer-bottom {
  padding: 35px 0 30px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright-technomart {
  width: 300px;
  margin-right: 90px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 41px;
  height: 41px;
  color: #ffffff;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.social-button:focus {
  background-color: #ee3643;
  opacity: 0.9;
}

.footer-copyright-htmlacademy {
  display: flex;
  width: 300px;
  margin-left: auto;
}

.footer-copyright-htmlacademy p {
  margin: 0;
  margin-right: 52px;
  padding: 0;
}

.footer-copyright-htmlacademy p:last-child {
  margin: 0;
}

.footer-copyright-htmlacademy span:hover,
.footer-copyright-htmlacademy span:focus {
  text-decoration: underline;
}

.footer-copyright-htmlacademy span:active {
  color: #ee3643;
  text-decoration: none;
}

/* МОДАЛЬНЫЕ ОКНА */
.modal {
  position: fixed;
  z-index: 300;

  background-color: #ffffff;
  box-shadow: 0 10px 20px 5px rgba(0,0,0,0.5);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal-write-us {
  top: 50%;
  left: 50%;

  display: none;
  width: 620px;

  border-top: 7px solid #ff5357;
  transform: translate(-50%, -50%);
}

.modal-form-wrapper {
  width: 460px;
  margin: 0;
  padding: 45px 80px 37px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-form p {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.modal-form .name,
.modal-form .email {
  width: 220px;
}

.name .input-modal,
.email .input-modal {
  box-sizing: border-box;
  padding: 10px 0 15px 10px;
}

.modal-form .message {
  margin-top: 15px;
  width: 460px;
}

.message .input-modal {
  box-sizing: border-box;
  padding: 10px 0 85px 10px;
}

.label-modal {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.input-modal {
  font-size: 13px;
  line-height: 18px;
}

.modal-button-background {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 37px 0;
}

.modal-form-button {
  width: 460px;
  margin: 0 auto;
  padding: 10px 0;
}

.modal-map {
  top: 50%;
  left: 50%;

  display: none;
  width: 940px;
  height: 446px;

  transform: translate(-50%, -50%);
}

.modal-map p {
  margin: 0;
  padding: 0;
}

.modal-basket {
  top: 50%;
  left: 50%;

  display: none;
  width: 620px;

  border-top: 7px solid #ff5357;
  transform: translate(-50%, -50%);
}

.modal-basket-wrapper {
  margin: 0;
  padding: 50px 80px;
}

.modal-basket-title {
  position: relative;

  margin: 0;
  padding: 0;
  padding-left: 100px;
  font-size: 30px;
  line-height: 30px;
}

.modal-basket-title::before {
  content: "";

  position: absolute;
  top: -20px;
  left: 0px;

  width: 66px;
  height: 66px;

  background-image: url(../img/check-mark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-checkout,
.button-continue-shopping {
  width: 220px;
  margin: 0 10px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 27px;
  height: 27px;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 0px;

  width: 27px;
  height: 4px;

  background-color: #ee3643;
  border-radius: 2px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
